*{
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%; 
  height: 100%;
  background-color: #EFF5FF;
}

@media screen and (max-width: 768px){
  body{
    background-color: #EFF5FF;
  }
}